{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
    <div class="container">
        <h1>Welcome to ShopApp</h1>
        <a href="{% url 'all_product' %}" class="btn btn-primary">Products</a>
        <a href="{% url 'mycart' %}" class="btn btn-primary">My Cart</a>
        <a href="{% url 'myorders' %}" class="btn btn-primary">My Orders</a>
        <a href="{% url 'profile' %}" class="btn btn-primary">Profile</a>
        <a href="{% url 'signout' %}" class="btn btn-primary">Log Out</a>
    </div>
    {% endblock %}
</body>
</html>
