{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Details | ShopApp</title>
</head>
<body>
    {% block content %}
    <div class="container" style="margin-bottom: 50px;"> 
        <img src="{{product.image.url}}" alt="{{product.name}}" width="300px" height="300px">
        <h1>{{product.name}}</h1>
        <p><b>Description:</b> {{product.description}}</p>
        <p><b>Price:</b> {{product.price}} Taka</p>
        {% if product.stock %}
        <p><b>In Stock</b></p>
        <a href="{% url 'add_to_cart' product.id %}" class="btn btn-primary">Add To Cart</a>
        {% else %}
        <p><b>Out of Stock</b></p>
        {% endif %}

        <br> <br>
        <h3>Reviews</h3>
        {% for review in reviews %}

        <p>{{ review.rating }} - {{ review.review }}</p>
        <p>By {{ review.user.username }}</p>

        {% endfor %}
        <br>
        <h3>Average Rating: {{ average_rating }}</h3>

        <form method="post">
        {% csrf_token %}
            <input type="text" name="rating" value="3"> <br> <br>
            <input type="text" name="review" value="Nice Product"> <br> <br>
            <input type="submit" value="Review" class="btn btn-primary">
        </form>
    </div>
    {% endblock %}
</body>
</html>