{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
</head>
<body>
    {% block content %}
    <div class="container">
        <div style="text-align: center;"><h1> <b>Profile</b></h1></div>
        <div>
            <img src="{{profile.photo.url}}" alt="{{user.username}}" width="200px" height="200px" style="border-radius: 10px;"> <br> <br>
            <h3><b>Username: </b>{{profile.user.username}}</h3>
            <h3><b>Email address: </b>{{profile.user.email}}</h3>
            <h3><b>Phone: </b>{{profile.phone}}</h3>
            <h3><b>Address: </b>{{profile.address}}</h3>
        </div> <br> <br>
        <a href="{% url 'edit_profile' %}" class="btn btn-primary">Edit Profile</a>
        <br><br>
    </div>
    {% endblock %}
</body>
</html>